<main class="form-signin w-100 m-auto">
<form action="/toughts/add" method="post">
    <h4 class="mb-3 border-start border-warning border-3 px-3">Adicionar Pensamento</h4>
    <div class="form-floating">
        <input type="text" class="form-control" name="title" id="title" placeholder="Título">
        <label for="title">Título</label>
    </div>
    <button class="btn btn-warning w-100 py-2" type="submit">Adicionar</button>    
</form>
<div class="text-center mt-3">
<a href="/toughts/dashboard" class="text-warning mt-2">Voltar</a>
</div>
</main>